<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.customlondontransport" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Custom TFL"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".UserListView"
            android:label="London Transport Query Builder" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
        android:name=".AddNewRoute"
        android:label="Add A New Route"
        />

        <activity
            android:name=".AddNewStation"
            android:label="Add A New Station"
            />

        <activity
            android:name=".SetDayTimeConditions"
            android:label="Set Conditions"
            />

        <activity
            android:name=".QueryResults"
            android:label="Query Output"
            />

        <activity
            android:name=".Settings"
            android:label="Settings"
            />

        <receiver android:name=".AppWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_ENABLED" />
                <action android:name="AUTO_UPDATE" />
                <action android:name="REFRESH" />
            </intent-filter>

            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/widget"/>
        </receiver>
    </application>

</manifest>
